.footer{
    background-color: #211a1d !important;
}
.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#github {
    height: 20px !important;
    width: 20px !important;
}

a {
    color: white !important;
    text-decoration: auto;
}